<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AAMigrate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AAMigrate.Properties.Settings>
            <setting name="NewTemplateMark" serializeAs="String">
                <value>_NEW</value>
            </setting>
            <setting name="NewTemplateMarkPosition" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="OldTemplateMark" serializeAs="String">
                <value>_OLD</value>
            </setting>
            <setting name="OldTemplateMarkPosition" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SheetDataBruteMark" serializeAs="String">
                <value>Brute</value>
            </setting>
            <setting name="SheetDataBruteMarkPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OldTemplateConcatMark" serializeAs="String">
                <value>$templates</value>
            </setting>
            <setting name="OldTemplateConcatMarkPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SheetExportMark" serializeAs="String">
                <value>Export</value>
            </setting>
            <setting name="SheetExportMarkPosition" serializeAs="String">
                <value>0</value>
            </setting>
        </AAMigrate.Properties.Settings>
    </userSettings>
</configuration>